@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

:root {
  --bg: #ffffff;
  --bg-secondary: #d8d8dc;
  --text-primary: #0a0a0a;
  --text-secondary: #6b7280;
  --border: #d1d5db;
  --card: #ffffff;
}

.dark {
  --bg: #0f0f0f;
  --bg-secondary: #1a1a1a;
  --text-primary: #f9fafb;
  --text-secondary: #9ca3af;
  --border: #2d2d2d;
  --card: #1a1a1a;
}

* { box-sizing: border-box; }
